header {

    background-color: rgb(24, 23, 23);
    
    color: rgb(255, 255, 255);

}

body {

    background-color: rgb(49, 49, 49);

}

button {

    background-color: rgb(255, 255, 255);
    
    color: black;
    
    border-radius: 20px;

    width: 150px;

    height: 45px;

    margin: 5px;

    padding: 0px;

    font-size: x-large;

}

#buttonEsquerdo {
    
    background-color: rgb(43, 41, 41);

    border-radius: 5px;

    color: rgb(255, 255, 255);

    width: 40px;

    height: 40px;

    font-size: x-large;

    margin: 5px;

    padding: 0px;

}

#buttonDireito {

    background-color: rgb(43, 41, 41);

    border-radius: 5px;

    color: rgb(255, 255, 255);

    width: 40px;

    height: 40px;

    font-size: x-large;

    margin: 5px;

    padding: 0px;

}

p {

    font-size: 25px;

    margin: 12px;

    color: rgb(255, 255, 255);

}

#pCookies {

    font-size: 25px;

    margin: 12px;

    color:rgb(254, 255, 255);

    margin-top: 350px;

}

nav {

    background-color: black;

    text-align: justify;

    height: 750px;

}

#buttonInicio {

    background-color: black;

    color: rgb(255, 255, 255);

    width: 150px;

    border: 0px

}

#buttonBusca {

    background-color: black;

    color: rgb(255, 255, 255);

    width: 150px;

    border: 0px

}

#buttonBiblioteca {

    background-color: black;

    color: rgb(255, 255, 255);

    width: 200px;

    border: 0px;

}

img {

    width: 50px

}

#buttonPlaylist {

    background-color: black;

    color: rgb(255, 255, 255);

    width: 200px;

    border: 0px;

}

#buttonCurtidas {

    background-color: black;

    color: rgb(255, 255, 255);

    width: 200px;

    border: 0px;

}

#buttonFooter {

    border: 0px;

    color: rgb(0, 162, 255);

}

footer {

    background: linear-gradient(to right, purple, #1E90FF);

    text-align: left;

}